#container {
  width: 400px;
  height: 400px;
  border: black solid 3px;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}

.square {
  border: solid 1px;
  border-color: rgb(48, 48, 48, 0.3);
  box-sizing: border-box;
}

/* button {
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: medium;
  border-radius: 5px;
  padding: 5px;
} */

#label {
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
}

#top {
  display: flex;
  align-items: center;
  gap: 5px;
}

button,
input[type="color"] {
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: medium;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
