#container {
  width: 400px;
  height: 400px;
  border: black solid 3px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  border: #7c7c7c solid 1px;
  box-sizing: border-box;
}

button {
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  font-size: medium;
  border-radius: 5px;
  padding: 5px;
}
